body {
  background-color: black;
}
.body {
  text-align: center;
  color: red;
}
#title {
  background-color: red;
  text-align: center;
  font-size: 60px;
}

#pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  font-size: 30px;
}

#hi {

}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}